# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.beamer.pdf
*.handout.pdf

# Latexmk
*.fdb_latexmk
latexmkrc

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
*.run.xml
*.upa
*.bcf
*.fls

# BibTeX
*.bbl
*.blg

